<!DOCTYPE html>
<html lang="en">
<head>
  <title>SF Film Locations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/base.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="/">SF Film Locations</a>

    </nav>




  </div>

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script>

    $(document).ready(function() {

    });
  </script>

</body>
</html>
